.roleSelector {
    position: absolute;
    height: 200px;
    width: 400px;

    background-color: rgb(236, 235, 235);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 40%;
    z-index: 10;
}

.mostTrending {
    font-size: 50px;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    border-top: 1px solid lightgrey;
}